<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
<style>
    table,th,td
    {
        border:1px solid black;
        border-collapse:collapse;
    }
    th,td
    {
        padding:5px;
    }
</style>
<h3>URL Shortener:</h3>

<b>Usage</b>
<br/>

<ol>

    <li>
        <u><b>Creating account</b></u>
        <br/>HTTP Method: <b>POST</b>
        <br/>URI: <b>/account</b>
        <br/>Request Body: <b>accountId</b>
        <ul>
            <li>Example: {"accountId":"myAccount1"}</li>
        </ul>
        Response Body: <b>success</b>, <b>description</b>, <b>password</b>
        <ul>
            <li>Example: {"success":"true","description":"Your account is opened.","password":"xC345Fc0"}
        </ul>
        Description
        <ul>
            <li>"accountId" is mandatory, therefore you have to include it in request.
                <br/>Account registration can be successful or unsuccessful. Successful registration occurs when "accountId" is
                unique and not empty.
                Unsuccessful registration occurs when "accountId" is empty. In that case you get Error 415. Also, you get Error 409 if "accountId"
                already exists.
                After successful registration you get a random generated password which is 8 alphanumeric characters long string.

        </ul>
    </li>
    <br/>
    <li>
        <u><b>Registering URL</b></u>
        <br/>HTTP Method: <b>POST</b>
        <br/>URI: <b>/register</b>
        <br/>Request Header: <b>Authorization</b>
        <br/>Request Body: <b>url</b>, <b>redirectType</b>
        <ul>
            <li>Example: {"url":"http://stackoverflow.com/questions/1567929/website-safe-data-access-architecture-question?rq=1","redirectType":"301"}</li>
        </ul>
        Response Body: <b>shortUrl</b>
        <ul>
            <li>Example: {"shortUrl":"http://localhost:8080/xYswlE"}
        </ul>
        Description
        <ul>
            <li>"url" is mandatory. "redirectType" is not, it can be 301, but if not set, or if it's not 301, then it's 302.
                <br/>You can register an url only if authorization succeed. If authorization fails you get Error 401.
                If url is empty, you get Error 415. </li>
        </ul>
    </li>
    <br/>
    <li>
        <u><b>Fetching statistics</b></u>
        <br/>HTTP Method: <b>GET</b>
        <br/>URI: <b>/statistic/{accountId}</b>
        <br/>Request Header: <b>Authorization</b>
        Response Body: <b>key:value</b>
        <ul>
            <li>Example: {"http://myweb.com/somelongurl/somedirectory/":"10","http://myweb.com/somelongurl1/somedirectory2/":"4","http://myweb.com/somelongurl3/somedirectory4/":"91"}
        </ul>
        Description
        <ul>
            <li>To fetch statistics, you have to pass authorization. If authorization fails you get Error 401. If authorization was
                successful you get number of visits for every link registered with your "accountId".</li>
        </ul>
    </li>
    <br/>
    <li>
        <u><b>Redirecting</b></u>
        <br/>Description
        <ul>
            Entering shortUrl provided in "Registering URL" redirection occurs to registered url and number of calls for that url is incremented by 1.
        </ul>
    </li>
</ol>
</body>
</html>